.DS_Store
vscode-extension-daily-roll/*.vsix
node_modules
log/
.env
.env.local
dist/
config.json
.cocoindex_code/cocoindex.db/mdb/data.mdb
.cocoindex_code/cocoindex.db/mdb/lock.mdb
.cocoindex_code/target_sqlite.db
.tmp/
